[submodule "theory"]
	path = theory
	url = https://github.com/AttorneyOnlineChaos/theory.git
	branch = nightly
[submodule "kenji"]
	path = kenji
	url = https://github.com/AttorneyOnlineChaos/kenji.git
	branch = nightly
[submodule "spritechat"]
	path = spritechat
	url = https://github.com/AttorneyOnlineChaos/spritechat.git
	branch = nightly
